<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.timing.go.common.mapper.MetaJobMapper">
  <resultMap id="BaseResultMap" type="org.timing.go.common.entity.MetaJobEntity">
    <id column="ID" property="id" jdbcType="INTEGER"/>
    <result column="META_JOB_KEY" property="metaJobKey" jdbcType="VARCHAR"/>
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR"/>
    <result column="META_JOB_DESC" property="metaJobDesc" jdbcType="VARCHAR"/>
    <result column="META_JOB_TYPE" property="metaJobType" jdbcType="VARCHAR"/>
    <result column="META_JOB_SOURCE" property="metaJobSource" jdbcType="VARCHAR"/>
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="DataColumnList">
    META_JOB_KEY, GROUP_NAME, META_JOB_DESC, META_JOB_TYPE, META_JOB_SOURCE, CREATE_TIME, UPDATE_TIME
  </sql>

  <sql id="BaseColumnList">
    ID, META_JOB_KEY, GROUP_NAME, META_JOB_DESC, META_JOB_TYPE, META_JOB_SOURCE, CREATE_TIME, UPDATE_TIME
  </sql>

  <select id="selectMetaJob" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
    <include refid="BaseColumnList"/>
    FROM TIMING_GO_META_JOB AS t
    WHERE t.META_JOB_KEY = #{metaJobKey} AND t.GROUP_NAME = #{groupName}
  </select>
</mapper>