<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
  <properties>
    <property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %C{1}.%M(%F:%L) - %msg%n
    </property>
    <property name="log_home">./logs/</property>
    <property name="file_name">TG-scheduler</property>
    <property name="every_file_size">500M</property>
    <property name="output_log_level">info</property>
    <property name="file_count">20</property>
    <property name="error_file_count">10</property>
  </properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="${log_pattern}"/>
    </Console>
    <!-- Low log level -->
    <RollingRandomAccessFile name="LowLogLevel" fileName="${log_home}${file_name}.log"
      filePattern="${log_home}/%d{yyyy-MM-dd}/${file_name}-%d{yyyy-MM-dd-HH}-%i.log">
      <PatternLayout pattern="${log_pattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
        <SizeBasedTriggeringPolicy size="${every_file_size}"/>
      </Policies>
      <DefaultRolloverStrategy max="${file_count}"/>
      <Filters>
        <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
        <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
        <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
    </RollingRandomAccessFile>
    <!-- high log level -->
    <RollingRandomAccessFile name="HighLogLevel" fileName="${log_home}${file_name}-error.log"
      filePattern="${log_home}/%d{yyyy-MM-dd}/${file_name}-error-%d{yyyy-MM-dd-HH}-%i.log">
      <Policies>
        <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
        <SizeBasedTriggeringPolicy size="${every_file_size}"/>
      </Policies>
      <DefaultRolloverStrategy max="${error_file_count}"/>
      <Filters>
        <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
        <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <PatternLayout pattern="${log_pattern}"/>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <!-- log4j2 asyn more fast-->
    <AsyncLogger name="org.timing.go.scheduler" level="${output_log_level}" additivity="false"
      includeLocation="true">
      <appender-ref ref="LowLogLevel"/>
      <appender-ref ref="HighLogLevel"/>
      <appender-ref ref="Console"/>
    </AsyncLogger>

    <!-- log4j2 Synchronous --> -->
    <!-- <root level="${output_log_level}">
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="RollingFile1"/>
      <appender-ref ref="Console"/>
    </root> -->
  </Loggers>
</Configuration>